{% extends 'base.html' %}

{% block content %}

{% include '/includes/search.html' %}

<div class="container">
    <div class="row">
        {% for res in results %}
        <div>
            <h1>{{res.title}}</h1>
            <img src="{{res.image}}">
        </div>
        {% endfor %}
    </div>

</div>
<div class="container-fluid content-block-1">
    <div class="text-center content-block-1-div">
            <h2>Sign up today!</h2>
            <p>Search and Save your favorite recipes.</p>
            <p>Explore recipe nutrition and ingredient costs.</p>
    </div>

</div>
{% endblock %}