{% extends 'base.html' %}

{% block content %}

{% include '/includes/search.html' %}

<div class="container">
    <div class="row">
        {% for res in results %}
        <div>
            <h1>{{res.title}}</h1>
            <img src="{{res.image}}">
        </div>
        {% endfor %}
    </div>

</div>
<div class="container-fluid content-block-1">
    <div class="text-center content-block-1-div">
        <h2>Sign up today!</h2>
        <p>Search and Save your favorite recipes.</p>
        <p>Explore recipe nutrition and ingredient costs.</p>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-lg-6">
            <h2 class="home-header text-center">Search <br><span class="big-text">thousands</span><br> of recipes!
                <i class="fas fa-search home-search-icon"></i></h2>
        </div>
        <div class="col-lg-6">
            <div class="home-card">
                <img src="static/images/recipe-image-min.jpg" class="img-fluid home-image">
            </div>
        </div>
    </div>

    <div class="row pt-5 pb-5 mt-5 mb-5 border-top">
        <div class="col-lg-6">
            <div class="home-card">
                <img src="static/images/nutrition-chart-min.jpg" class="img-fluid home-image">
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="home-header-2 text-center"><span class="big-text">Nutritional</span><br> information available.
                <i class="fas fa-chart-pie home-search-icon"></i></h2>
        </div>
    </div>

    <div class="row pt-5 pb-5 mt-5 mb-5 border-top"">
        <div class="col-lg-6">
            <h2 class="home-header text-center"><span class="big-text">Cost</span><br>breakdown<br>of recipes.
                <i class="fas fa-dollar-sign home-search-icon"></i></h2>
        </div>
        <div class="col-lg-6">
            <div class="home-card">
                <img src="static/images/cost-breakdown-min.jpg" class="img-fluid home-image">
            </div>
        </div>
    </div>


</div>
{% endblock %}