<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <!-- <h2 class="join-message">Edit User Info</h2> -->
        <form method="POST">
            {{ edit_user_form.hidden_tag() }}

            {% for field in edit_user_form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger edit-input-error" data="{{error}}">{{ error }}</span>
            {% endfor %}
            {{field.label(class="ps-1 text-primary")}}
            {{ field(placeholder=field.label.text, class="form-control mb-3") }}
            {% endfor %}

            <button id="update-user-btn" class="btn btn-primary btn-lg btn-block">Update User</button>
        </form>
    </div>
</div>
