

<div class="row">

    <div class="col-6 border">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3 class="join-message mb-3">Create Account</h3>
                <form action="/signup" method="POST" id="user_form">
                    {{ signup_form.hidden_tag() }}

                    {% for field in signup_form if field.widget.input_type != 'hidden' %}

                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field(placeholder=field.label.text, class="form-control mb-3") }}
                    {% endfor %}

                    <button class="btn btn-primary btn-lg btn-block">Sign up!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-6 border ">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3 class="join-message mb-3">Login</h3>
                <form action="/login" method="POST" id="user_form">
                    {{ login_form.hidden_tag() }}

                    {% for field in login_form if field.widget.input_type != 'hidden' %}

                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}

                    {{ field(placeholder=field.label.text, class="form-control mb-3") }}
                    {% endfor %}

                    <button class="btn btn-primary btn-lg btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

