<section class=" my-5">
    <div class="container-md ">
        <!--add search class-->
        <form class="d-flex search-form" action="/results">
            <button class="btn btn-default" id="search-button">
                <i class="fas fa-search search-icon"></i>
            </button>
            <input name="q" class="form-control search" placeholder="Search Recipes" id="search">
            <input name="offset" type="number" hidden value="0">
        </form>
    </div>
</section>

<div id="loader">
    <div id="loading-spinner" class="loader">
    </div>
</div>