:root {
    --primary: #1e90ff;
    --white: #ffffff;
    --gray: #999999;
    --darkgray: #6d6d6d;
    --tooltip: rgb(0, 172, 126);
  }

html,
body {
 height: 100%;
 position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.footer {
    width: 100%;
    color: #ccc;
    background-color: #212529;
    position: absolute;
    bottom: 0;
}

.profile-username {
    color: var(--darkgray);
    font-size: 12px;
    padding-right: 13px;
    margin-top: 15px;
}

.profile-group:hover {
    cursor: pointer;
}

.card {
    border: none;
    max-height: 110px;
}


.results-container {
    max-width: 800px;
    margin: auto;
}

.results-img {
    max-width: 110%;
    margin-top: -10px;
    margin-left: -25px;
}


.results-card {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 24px rgba(0,0,0,.2);
    transition: all .4s cubic-bezier(0, 0.46, 0.3, 0.97);
}


.results-card:hover {
    background-color: rgba(0, 0, 255, .1);
    transform: translateY(-3px);
}


.results-container a {
    color: #212529;
    text-decoration: none;
}


.tooltip-inner {
    background-color: var(--tooltip);
}


.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,.bs-tooltip-top .tooltip-arrow::before {
    top: -1px;
    border-width: .4rem .4rem 0;
    border-top-color: var(--tooltip);
}
