{% extends 'base.html' %}

{% block content %}

{% include 'includes/search.html' %}

<div class="container">

    <div class="row">
        {% for res in results %}
        <div>
            <h1>{{res.title}}</h1>
            <img src="{{res.image}}">
        </div>
        {% endfor %}
    </div>


    {% if recipes|length > 0 %}

    {{recipes}}

    <h1>Saved Recipes</h1>

    {% for recipe in recipes %}
    <a href="/recipe/{{ recipe.id }}">
        <div class="card results-card">
            <div class="row g-0">

                <div class="col-md-2">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}" class="img-fluid results-img">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">{{recipe.title}}</h4>
                        <p>See Recipe</p>
                    </div>
                </div>

            </div>
        </div>
    </a>
    
    {% endfor %}

    {% else %}
    <h3>No Saved Recipes yet!</h3>


    {% endif %}



</div>


{% endblock %}