{% extends 'base.html' %}
{% block content %}



<div class="container" id="">
    <p>Profile Pic:</p>
    <img src="{{user.image_url}}" class="circle float-start" alt="profile image">
    <p>Username:</p>
    <h3>{{user.username}}</h3>
    <p>First Name:</p>
    <h3>{{user.first_name}}</h3>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_user">
        Edit User
    </button>
</div>


<!-- Edit User Modal -->
<div class="modal fade" id="edit_user" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit User Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body  ">


                {% include 'includes/edit_user_form.html' %}


            </div>
         
        </div>
    </div>
</div>
<!-- END Edit User Modal -->
{% endblock %}