{% extends 'base.html' %}
{% block content %}

{% include 'includes/search.html' %}

<div class="recipe-container container mb-3" id="recipe-container">


    <div class="container border-bottom pb-5">
        {% if recipe.id in g.user.user_recipe_ids %}
        <h1 class="pb-3"><b>{{ recipe.title }}</b> <i class="fav fas fa-star remove_favorite_button"
                data-id="{{recipe.id}}" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Remove from Favorites"></i>

                <div id="mini-loader">
                    <div id="mini-loading-spinner" class="mini-loader">
                    </div>
                </div>
                    
        </h1>

        {% else %}
        <h1 class="pb-3 recipe-tile"><b>{{ recipe.title }}</b> <i class="fav far fa-star make_favorite_button"
                data-id="{{recipe.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Save to Favorites"></i>
        
                <div id="mini-loader">
                    <div id="mini-loading-spinner" class="mini-loader">
                    </div>
                </div>

        </h1>

        {% endif %}


        <div id="add-favorite-success">
            <p id='add-favorite-success-message'></p>
        </div>

        <div id="remove-favorite-success">
            <p id='remove-favorite-success-message'></p>
        </div>


        <p>Ready in <b>{{recipe.readyInMinutes}}</b> minutes.</p>

        <div class="recipe-main">
            <div class="text-center recipe-image-container">
                {% if recipe.image %}
                <img class="mb-3" src="{{ recipe.image }}" width="400px" alt="{{ recipe.title }}">
                {% else %}
                <img class="" src="../static/images/default-dinner.jpg" width="400px" alt="{{ recipe.title }}">
                <p class="missing-image-message mb-0">Sorry... It seems we have misplaced the recipe image. <i
                        class="far fa-frown"></i></p>
                {% endif %}

                <div class="recipe-info-btns text-center">
                    <a href="/recipe/{{recipe.id}}/nutrition" class="btn btn-primary w-40"><i
                            class="fas fa-chart-pie"></i> Nutrition</a>
                    <a href="/recipe/{{recipe.id}}/price" class="btn btn-primary w-40"><i
                            class="fas fa-dollar-sign"></i> Price Breakdown</a>
                </div>


            </div>
            <div>
                <p class="recipe-summary" id="summary">{{recipe.summary}}</p>

                {% set recipe_types = { "vegetarian":recipe.vegetarian, "vegan":recipe.vegan,"glutenFree":recipe.glutenFree,"dairyFree":recipe.dairyFree, "veryHealthy":recipe.veryHealthy, "cheap":recipe.cheap,"veryPopular":recipe.veryPopular, "glutenFree":recipe.glutenFree, "sustainable":recipe.sustainable,  "weightWatcherSmartPoints":recipe.weightWatcherSmartPoints} %}


                <div class="recipe-types-container d-flex mt-3 ps-5">

                    {% for key, value in recipe_types.items() %}

                    {% if value == True %}
                    <div class="pe-3 text-center">
                        <img class="" src="../static/images/icons/{{key}}.svg" width="50px" alt="{{ key }}">
                        <p>{% if key == "dairyFree" %}
                            dairy free
                            {% elif key == "glutenFree" %}
                            gluten free
                            {% elif key == "veryHealthy" %}
                            very healthy
                            {% elif key == "weightWatcherSmartPoints" %}
                            {{ value }} Smart Points
                            {% else %}
                            {{key}}
                            {% endif %}

                        </p>
                    </div>

                    {% elif key == "weightWatcherSmartPoints" %}

                    <div class="pe-3 text-center">
                        <img src="../static/images/icons/{{key}}.svg" width="50px" alt="{{ key }}">
                        <p>{{ value }} Smart Points</p>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>


            </div>
        </div>

    </div>


    <div class="container border-bottom pb-5">
        <div class="mt-5 mb-3 ">
            {% if recipe.extendedIngredients %}
            <h3 class="recipe-header">Ingredients</h3>
        </div>

        <div class="row">
            {% for ingredient in recipe.extendedIngredients %}

            <div class="col-lg-2 ingredients-box">

                <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredient.image }}"
                    class="ingredients-image" alt="{{ ingredient.name }}" width="70px">
                <div class="">
                    <p class="ingredient-name">{{ ingredient.name }}</p>
                    <p class="ingredient-measurement"><span
                            class="ingredient-decimal">{{ ingredient.measures.us.amount }}</span>
                        {{ ingredient.measures.us.unitShort }}</p>
                    <a class="ingredient-search" href="../results_by_ingredient/{{ingredient.name}}">Search Recipes
                        <span>&rarr;</span></a>
                </div>

            </div>

            {% endfor %}
        </div>

        {% else %}
        <h3 class="recipe-header"><i class="far fa-frown pe-2"></i>Sorry, the ingredients are missing.</h3>
        </div>
    {% endif %}
</div>


<div class="container border-bottom pb-5">
    <div class="mt-5 mb-3b recipe-header">
        {% if recipe.analyzedInstructions %}
        <h3 class="recipe-header">Steps</h3>
    </div>
    {% for step in recipe.analyzedInstructions[0].steps %}
    <p class="recipe-step"><span class="recipe-step-number">{{ step.number }}.</span> {{ step.step }}</p>
    {% endfor %}
    {% else %}
    <h3 class="recipe-header"><i class="far fa-frown pe-2"></i>Sorry, the instructions are missing.</h3>
</div>
{% endif %}
</div>

</div>
{% endblock %}