{% extends 'base.html' %}
{% block content %}

{% include 'includes/search.html' %}

<div class="recipe-container container" id="recipe-container">
    <button class="btn btn-primary favorite_button" data-id="{{recipe.id}}">Add to Favorites</button>
    {% if recipe.id in g.user.user_recipe_ids %}

    <i class="fas fa-star"></i>
    {% else %}
    <i class="far fa-star"></i>
    {% endif %}
    <p>{{recipe}}</p>
        <div class="card results-card">
            <div class="row g-0">

                <div class="col-md-2">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}" class="img-fluid results-img">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">{{recipe.title}}</h4>
                        <p>See Recipe</p>
                    </div>
                </div>

            </div>
        </div>



</div>
{% endblock %}